<h2>Edit this movie</h2>

<form action="/movies/{{_id}}" method="post">
    <input type="text" name="title" value="{{title}}">
    <br/>
    <input type="email" name="genre" value="{{genre}}">
    <br/>
    <input type="password" name="plot" value="{{plot}}">
    <br/>
    <input type="password" name="cast" value="{{cast}}">
    <br/>
    <button type="submit">Update movie</button>
</form>